<div class="m-index" id="m-index" >
	<header>
		<header>
			<ul>
				<li>
					<i class="yo-ico"></i>
					<b>扫一扫</b>
				</li>
				<li>搜索品牌、系列和型号</li>
				<li>
					<i class="yo-ico"></i>
					<b>咨询</b>
				</li>
			</ul>			
		</header>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide" v-for="item in lunboList" :class="item">
		    	<img :src="item"/>
		    </div>
		  </div>
		   <div class="swiper-pagination"></div>
		</div>
	</header>
	<section>
		<!--菜单列表-->
		<ul class="m-list">
			<!--vue绑定时间不用非得调用，angular要-->
			<li v-for="item in mList" v-on:click="clickMList(item.word)">
				<i>
					<img :src="item.img" />
				</i>
				<b>{{item.word}}</b>
				
			</li>
			
		</ul>
		<!--展示列表-->
		<!--限时秒杀-->
		<div class="g-list">
			<div v-for="item in gList">
				<h2 class="list-h">
					<i class="yo-ico">|</i>
					{{item.listH}}
				</h2>
				<div class="img-box">					
					<div v-for="image in item.listImg"  >
						<img :src="image"/>
					</div>
				</div>
				<div class="goods-box">
					<div class="goods-items" v-for="goodsItem in item.goods">
						<div v-if="goodsItem.zhekou" class="items-zhekou">
							<span>{{goodsItem.zhekou}}</span>折
						</div>
						<div class="items-img">
							<img :src="goodsItem.img"/>
						</div>
						<div v-if="goodsItem.time" class="items-time" >
							<!--获取goodsItem.time暂不处理-->
							<span>00</span>
							<b>
								:
							</b>
							<span>00</span>
							<b>
								:
							</b>
							<span>00</span>
						</div>
						<div v-if="goodsItem.word" class="items-word">
							{{goodsItem.word}}
						</div>
						<div class="items-price">
							￥<span>{{goodsItem.price}}</span>
						</div>
					</div>
				</div>
			</div>
			<!--<h2 class="list-h">
				<i class="yo-ico">|</i>
				限时秒杀
			</h2>			
			<div class="img-box">
				<img src="/images/listh4.png"/>
			</div>
			<div class="goods-box">
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3.5</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (1).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (2).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3.5</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (3).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
			</div>
			<h2 class="list-h">
				<i class="yo-ico">|</i>
				限时秒杀
			</h2>			
			<div class="img-box">
				<img src="/images/listh4.png"/>
			</div>
			<div class="goods-box">
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3.5</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (1).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (2).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
				<div class="goods-items">
					<div class="items-zhekou">
						<span>3.5</span>折
					</div>
					<div class="items-img">
						<img src="/images/goods (3).jpg"/>
					</div>
					<div class="items-time">
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
						<b>
							:
						</b>
						<span>00</span>
					</div>
					<div class="items-price">
						￥<span>1190</span>
					</div>
				</div>
			</div>-->
		</div>
		
	</section>
	<footer></footer>
</div>